name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"   # Every 12 hours
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: tahajid36
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark
      - name: Upload to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
